config global 'global'
	option enabled                      '0'

config logging 'logging'
	option level                        'info'
	option log_to_syslog                '1'

config backend 'backend'
	option enabled                      'concentratord'
	option gateway_id                   ''
	option forward_crc_ok               '1'
	option forward_crc_invalid          '0'
	option forward_crc_missing          '0'
	option concentratord_event_url      'ipc:///tmp/concentratord_event'
	option concentratord_command_url    'ipc:///tmp/concentratord_command'
	option concentratord_context_caching '0'
	option semtech_udp_bind             '0.0.0.0:1700'
	option semtech_udp_time_fallback    '0'

config lns 'lns'
	option server                       'wss://localhost:8887'
	option discovery_endpoint           ''
	option reconnect_interval           '5s'
	option ca_cert_content              ''
	option tls_cert_content             ''
	option tls_key_content              ''

config cups 'cups'
	option enabled                      '0'
	option server                       ''
	option oksync_interval              '24h'
	option resync_interval              '60s'
	option credentials_dir              '/etc/rak-basicstation/credentials'
	option ca_cert_content              ''
	option tls_cert_content             ''
	option tls_key_content              ''

config metadata 'metadata'
	option split_delimiter              '='
